OPENAI_API_KEY=<YOUR_API_KEY_HERE>
OPENAI_BASE_URL=https://api.openai.com/v1

LLAMA_API_KEY=<YOUR_API_KEY_HERE>
LLAMA_BASE_URL=https://api.llama.com/compat/v1/

GEMINI_API_KEY=<YOUR_API_KEY_HERE>

DEEPSEEK_API_KEY=<YOUR_API_KEY_HERE>